body {
    background-color: rgb(97, 76, 83);
}

.main-header{
    text-align: center;
    font-size: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.first-photo {
    border: .15em solid black;
    border-radius: 1em;
    margin: 0em;
    height:60%;
    width: 100%;
}

#feet-pic {
    border: .15em solid black;
    border-radius: 1em;
    margin: 0em;
    height:60%;
    width: 100%;
}

.personal-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(222, 235, 240);
    border: .15em solid rgb(222, 235, 240);
    border-radius: 1em;
}

.personal-nav-links {
   margin: 0;
   padding: 1.5em;
   color: rgb(56, 68, 67);
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (max-width:700px) {
    .personal-nav{
        display: none;
    }
    .main-header {
        font-size:large;
    }
}

.personal-about-me-container {
    background-color: rgb(222, 235, 240);
    text-align: center;
    margin: 2em;
    border: .15em solid black;
    border-radius: 3em;
}

.personal-about-me-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.personal-interests-container{
    text-align: center;
    border: .15em solid black;
    background-color: rgb(222, 235, 240);
    margin:2em;
    border-radius: 1em;
    padding: 3em;
}

.personal-resume-container {
    text-align: center;
    border: .15em solid black;
    background-color: rgb(222, 235, 240);
    margin: 2em;
    border-radius: 1em;
    padding: 3em;
}

.personal-social-media-container {
    text-align: center;
    border: .15em solid black;
    background-color: rgb(222, 235, 240);
    margin: 2em;
    border-radius: 1em;
    padding:3em;
    
}

.social-button {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

h2 {
    text-align: center;
}
.elijah-productions {
    height: 5em;
    width: 8em;
}

footer {
    border: 2px solid rgb(32, 31, 31);
    border-radius: 1em;
    background-color: rgb(32, 31, 31);
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Interests Page */

#interests-page-header {
    text-align: center;
    border: .15em solid rgb(32, 31, 31);
    border-radius: 1em;
    background-color: rgb(222, 235, 240);
}

.interests-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    padding: 1em;
}

.interests-snowboarding {
    background-color: rgb(222, 235, 240);
    border: .15em solid rgb(32, 31, 31);
    border-radius: 1em;
}

.interests-snowboard-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: .15em solid black;
    border-radius: 1em;
    height:60%;
    width: 40%;
}

.interests-snowboarding-header {
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.interests-snowboarding-text {
    align-items: baseline;
    text-align: center;
    background-color: rgb(113, 190, 221);
    border: .15em solid rgb(222, 235, 240);
    border-radius: 1em;
    
}

.interests-photography {
    background-color: rgb(222, 235, 240);
    border: .15em solid rgb(32, 31, 31);
    border-radius: 1em;
}

.interests-photography-header {
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.interests-photography-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: .15em solid black;
    border-radius: 1em;
    height:70%;
    width: 40%;
}

.interests-photography-text {
    align-items: baseline;
    text-align: center;
    background-color: rgb(113, 190, 221);
    border: .15em solid rgb(222, 235, 240);
    border-radius: 1em;
}