body {
    background-color: rgb(97, 76, 83);
    margin: 0;
}

#pop-up {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    overflow: auto;
    display: none;
}

#pop-up-content {
    background-color: rgb(97, 76, 83);
    background-image: url('pics/squirrel.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50em;
    height: 21em;
    width: 34em;
    border-radius: .15em;
    margin: 12em auto;
    box-shadow: 0 .01em .01em rgb(32, 31, 31);
    padding: 1em;
    line-height: 120%;
    color: rgb(222, 235, 240);
}

#pop-up-title {
    padding-bottom: 5em;
    font-weight: bolder;
    text-align: center;
}
#pop-up-footer {
    text-align: center;
}

.pop-up-buttons {
    padding: 1em 1.2em;
    background-color: rgb(97, 76, 83);
    border: none;
    outline: none;
    border-radius: .15em;
    color: rgb(222, 235, 240);
    cursor: pointer;
}
/* Header */
.main-header{
    text-align: center;
    font-size: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1em;
}

.space-div {
   padding: 4em;
}
/* Photos */
.first-photo {
    border: .15em solid black;
    border-radius: 1em;
    margin: 0em;
    height:60%;
    width: 100%;
}

#face-pic {
    display: block;
    border: .15em solid black;
    border-radius: 1em;
    margin-left: auto;
    margin-right: auto;
    height:60%;
    width: 50%;
}

.logo {
    width: 3em;
    height: 3em;
}

#logo {
    border: 2px solid rgb(32, 31, 31);
    border-radius: 1em;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Nav bar */

.personal-nav {
    overflow: hidden;
    background-color:rgb(222, 235, 240);
  } 
  
  .personal-nav #myLinks {
    display: none;
  }
  
  .personal-nav a.icon {
    background:white;
    color: white;
    background-color: black;
    cursor: pointer;
  }
  
  .personal-nav a:hover {
    background-color:black;
    color: rgb(97, 76, 83)
  }
  
  .active {
    background-color: black;
    color:white;
  }

.personal-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    border: .15em solid rgb(222, 235, 240);
    border-radius: 1em;
    padding: 1em;
}

.personal-nav-links {
   margin: 0;
   padding: 1.5em;
   color: white;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   transition: all 2s ease-in-out;
}

/* Media Query */
@media screen and (max-width:880px) {
    .main-header {
        font-size:large;
    }
    .personal-nav {
        display: flex;
        flex-direction: row;
    }
    .personal-nav-links {
        font-size: .5em
    }
    #pop-up-title {
    padding-bottom: 5em;
    font-weight: bolder;
    text-align: center;
    font-size: large;
    }
    .projects-container {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }
    #pop-up-content {
        background-image: url('pics/squirrel.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 50em;
        height: 13em;
        width: 14em;
        border-radius: .15em;
        margin: 12em auto;
        box-shadow: 0em .01em .01em rgb(32, 31, 31);
        padding: 1em;
        line-height: 120%;
        color: rgb(222, 235, 240);
    } 
    .interests-resume-container {
        flex-direction: column;
    }
}


@media screen and (max-width: 576px){
    .space-div {
        padding-top: 2px;
    }
    .personal-nav-links {
        font-size: xx-small;
    }
    .resume-page-header {
        font-size: x-small;
    }
    .resume-profile {
        font-size: x-small;
    }
    #pop-up-content {
        background-image: url('pics/squirrel.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 50em;
        height: 13em;
        width: 14em;
        border-radius: .15em;
        margin: 12em auto;
        box-shadow: 0em .01em .01em rgb(32, 31, 31);
        padding: 1em;
        line-height: 120%;
        color: rgb(222, 235, 240);
    } 
    #pop-up-title {
        padding-bottom: 5em;
        font-weight: bolder;
        text-align: center;
        font-size: medium;
    }
    .project-description {
        font-size: xx-small;
    }
    .projects-container {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .indiv-project {
        margin: 2em 0 !important;
    }
    .interests-resume-container {
        flex-direction: column;
    }
}

.personal-about-me-container {
    background-color: rgb(222, 235, 240);
    text-align: center;
    margin: 2em;
    border: .15em solid black;
    border-radius: 3em;
    padding: 3em;
}

.personal-about-me-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.personal-interests-container{
    text-align: center;
    border: .15em solid black;
    background-color: rgb(222, 235, 240);
    margin:2em;
    border-radius: 1em;
    padding: 3em;
}

.personal-resume-container {
    text-align: center;
    border: .15em solid black;
    background-color: rgb(222, 235, 240);
    margin: 2em;
    border-radius: 1em;
    padding: 3em;
}

h2 {
    text-align: center;
}
.elijah-productions {
    height: 5em;
    width: 8em;
}

footer {
    border: 2px solid rgb(32, 31, 31);
    border-radius: 1em;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Interests Page */

#interests-page-header {
    text-align: center;
    border: .15em solid rgb(32, 31, 31);
    border-radius: 1em;
    margin-left: 1em;
    margin-right: 1em;
    background-color: rgb(222, 235, 240);
    padding: 1em;
    font-size: 2em;
}

.interests-container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    padding: 1em;
}

.interests-snowboarding {
    background-color: rgb(222, 235, 240);
    border: .15em solid rgb(32, 31, 31);
    border-radius: 1em;
}

.interests-snowboard-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: .15em solid black;
    border-radius: 1em;
    height:60%;
    width: 40%;
}

.interests-snowboarding-header {
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.interests-snowboarding-text {
    align-items: baseline;
    text-align: center;
    background-color: rgb(113, 190, 221);
    border: .15em solid rgb(222, 235, 240);
    border-radius: 1em;
    
}

.interests-photography {
    background-color: rgb(222, 235, 240);
    border: .15em solid rgb(32, 31, 31);
    border-radius: 1em;
}

.interests-photography-header {
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.interests-photography-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: .15em solid black;
    border-radius: 1em;
    height:70%;
    width: 40%;
}

.interests-photography-text {
    align-items: baseline;
    text-align: center;
    background-color: rgb(113, 190, 221);
    border: .15em solid rgb(222, 235, 240);
    border-radius: 1em;
}

.interests-music {
    background-color: rgb(222, 235, 240);
    border: .15em solid rgb(32, 31, 31);
    border-radius: 1em;
}

.music-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: .15em solid black;
    border-radius: 1em;
    height:60%;
    width: 40%;
}

.interests-music-header {
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.interests-music-text {
    align-items: baseline;
    text-align: center;
    background-color: rgb(113, 190, 221);
    border: .15em solid rgb(222, 235, 240);
    border-radius: 1em;
    
}


/* Resume */

#denver {
    text-align: left;
}

.resume-page-header {
    background-color: rgb(222, 235, 240);
    border: .15em solid black;
    border-radius: 1em;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    padding: .5em;
    text-align: left;
}

.resume-profile {
    background-color: rgb(222, 235, 240);
    border: .15em solid rgb(32, 31, 31);
    border-radius: 1em;
    margin: 2em;
    padding: 1em;
}

.resume-profile-header {
    text-decoration: underline;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


/* Social */

.social {
    display: flex;
    justify-content: space-evenly;
}

.social-buttons {
    height: 2.5em;
    width:2.5em;
    background-color: rgb(97, 76, 83);
    border: solid .15em rgb(97, 76, 83);
    border-radius: 1em;
}

.social-buttons:hover {
    cursor: pointer;
    
}

#youtube {
    width: 3.5em;
}

/* Projects */

.projects-container {
    background-color: rgb(97, 76, 83);
    /* margin:2em; */
    padding: 3em;
    display: flex;
    
}
.indiv-project {
    border: .15em solid rgb(113, 190, 221);
    background-color:rgb(222, 235, 240);
    margin:2em;
    border-radius: 1em;
    padding: 3em;
    box-shadow: rgb(113, 190, 221);
}

.project-link {
    color: rgb(97, 76, 83);
}

.project-description {
    font-size: 1em;
}

.interests-resume-container {
    display: flex;
}