body {
    background-color: rgb(97, 76, 83);
}

.main-header{
    text-align: center;
    font-size: 5em;
}

.first-photo {
    border: 2px solid black;
    margin: 10em;
    height:60%;
    width: 100%;
}

.personal-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(222, 235, 240);
}

.personal-nav-links {
   margin: 0;
   padding: 20px;
   color: rgb(56, 68, 67);
}

@media screen and (max-width:700px) {
    .personal-nav{
        display: none;
        width: 100%;
        position: relative;
        
    }
    .main-header {
        font-size:small;
    }
}

/* .personal-about-me-container {
    background-image: url('mountainman.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    height:100vh;
    width: 100vw;
    background-size: 30em;
} */

h2 {
    text-align: center;
}